:host /deep/ * {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
:host {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  color: var(--primary-text-color);
  overflow: hidden;
  @apply(--paper-font-body1);
  --paper-date-picker-font-day: {
    @apply(--paper-font-display3);
    font-size: 72px;
    line-height: 78px;
  };
}

/** Horizontal ******************/
#datePicker {
  width: 540px;
  height: 240px;
  @apply(--layout-horizontal);
}
#heading, 
#pages,
paper-calendar {
  width: 270px !important;
  height: 240px;
}

/** Narrow *********************/
:host([narrow]) #datePicker {
  width: 270px;
  height: 450px;
  @apply(--layout-vertical);
}
:host([narrow]) #heading {
  height: 210px;
}

/** Heading ********************/
#heading {
  color: var(--text-primary-color); 
  background: var(--default-primary-color);
  text-align: center;
  /* font-kerning: auto;
  letter-spacing: normal; */
  @apply(--layout-vertical);
  @apply(--layout-around-justfied);
}
#heading .weekday {
  padding: 8px;
  background: var(--dark-primary-color);
  @apply(--paper-font-body1);
}
#heading .date {
  padding: 10px;
  @apply(--layout-vertical);
  @apply(--layout-around-justified);
  @apply(--layout-flex);
}
#heading .date .month {
  @apply(--paper-font-headline);
  text-transform: uppercase;
}
#heading .date .day {
  @apply(--paper-date-picker-font-day);
}
#heading .date .year {
  @apply(--paper-font-headline);
}
#heading .date .year,
#heading.pg-chooseYear .date .month,
#heading.pg-chooseYear .date .day {
  color: var(--light-primary-color);
}
#heading.pg-chooseYear .date .year {
  color: inherit; 
}
#heading .date .day:hover,
#heading .date .month:hover,
#heading .date .year:hover {
  cursor: pointer;
}

/** Calendar/Year picker ********/
#pages {
  background: var(--default-background-color);
}
#pages section {
  position: relative;
}

/** Year List *******************/
#yearList {
  @apply(--layout-vertical);
  display: block;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
#yearList .year {
  height: 68px;
  min-height: 68px;
  @apply(--layout-horizontal);
  @apply(--layout-center-justified);
}
#yearList .year:hover {
  cursor: pointer;
}
#yearList .year div {
  text-align: center;
  vertical-align: middle;
  line-height: 64px;
  margin: 2px;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
#yearList .year.iron-selected div {
  background: var(--default-primary-color);
  color: var(--text-primary-color);
}

:host([isTouch]) #yearList::-webkit-scrollbar {
  width: 0 !important 
}
